body 
{
    font-family: system-ui;
    font-weight: 600;
    margin: 0;
    padding: 0;
    background-color :rgb(255, 255, 255);
}
.container{
    width : 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: -13px -15px ;
    padding: 0;
}

/* |||||||||||||| header |||||||||||||||| */

header{
    background-color: rgb(73, 171, 236);
    padding-top: 20px;
    min-height: 70px;
    padding-bottom: 20px;
    border-bottom: rgb(31, 35, 37) 7px solid;

}

header a {
    color: #5b5e5f;
    font-size: 20px;
}

header li {
    float: right;
    display:inline;
    padding: 0 15px 0 15px;
    font-weight: bold;

}

header #brand  {
    margin-top: -10px;
}
header #brand p {
    margin-top: -63px;
    margin-bottom: 0px;
}
header #brand h1 {
    margin-bottom : 5px ;
    padding: 0 80px 0 90px;
    color :#414344;
    font-size: 35px;
}

header a:hover{
    color: #414344;
    font-size: 130%;
}

/* |||||||||||| Quote |||||||||||||||| */

#Quote p{
    min-height: 100px;
    float: left;
    display:inline;
    padding: 0 30px 0 30px;
    margin-top: 40px;

}

/* |||||||||||| LogIN |||||||||||||||| */

#Login .container{
    background: rgb(20, 129, 202);
    padding-bottom: 20px;
    margin-top: 30px;
    border: rgb(31, 35, 37) 5px solid;

}
#Login h1{
    font-size: 30px;
    padding: 10px 0 10px 42%;
    margin: 0;
    color: #373839;

}
#Login form{
    font-size: 30px;
    padding: 0 0 10px 42%;
    margin: 0;
    transform: scale(120%);
}

#Login input[type="email"]{
    height: 25px;
    color: #cccccc;
}

#Login button{
    height: 30px;
    color: #444343;
    font-size: 16px;
}
#Login button:hover{
    height: 30px;
    color: rgb(20, 129, 202);
}

/* |||||||||||| Option |||||||||||||||| */

#option{
    margin-top: 10px;
}

#option .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}
#option .box1{
    text-align: center;
    width: 30%;
    margin-left: 32%;
}

#option a {
    color: #373839;
    padding: 5px;
    border: #444343 3px solid;
}
#option a:hover{
    color: rgb(20, 129, 202);
    padding: 5px;
    border: rgb(26, 100, 149) 3px solid;
}

footer {
    height: 100px;
    padding: 30px 20px 20px;
    border-top: rgb(20, 129, 202) 7px solid ;
    background-color: #373839;
    color: aliceblue;
}
footer span{
    color: rgb(20, 129, 202);
    font-weight: bold;
    padding-top: 20px;
}
footer span1{

    color: rgb(20, 129, 202);
    padding: 7px;
    border: rgb(20, 129, 202) 3px solid ;
    font-weight: bold;
}
footer .projet{
    margin: 0px 0px 20px 0px;
}

@media(max-width:768px)
{
    header #brand{
        float: right;
        
        width: 100%;
        margin-bottom: 20px;
    }
    header p{
        float: none;
        width: 100%;
    }
    header nav{
        float: none;
        text-align: center;
        width: 100%;
        padding-bottom: 20px;
    }

    
    #Login,
    #Quote,
    #Login h1,
    #Login form,
    #option .box,
    header nav li
    {
        float: none;
        text-align: center;
        width: 100%;
        
    }
    #option .box1{
        float: none;
        text-align: center;
        width: 100%;
        margin-left: 0px;
        margin-top: 40px;
    }

    header{ padding-bottom: 20px;}
    #Login .button{ 
        display: block;
        width: 100%;
    }
    #Login form input[type="email"]{
        width: 100%;
        margin-bottom: 5px;
    }


}